<header class="header">
  <div class="header-inner">
    <div class="header-logo">
      <%= link_to "My-review", root_path, class: "header-logo" %>
    </div>
  <nav class="header-nav">
    <% if user_signed_in? %>
      <div class="header-nav-item">
        <%= link_to "マイページ", '/', class: 'header-button header-mypage' %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'header-button header-logout' %>
      </div>
    <% else %>
      <div class="header-nav-item">
        <%= link_to "ログイン", new_user_session_path, class: 'header-button header-login' %>
        <%= link_to "新規登録", new_user_registration_path, class: 'header-button header-signup' %>
      </div>
    <% end %>
  </nav>
</header>
